
<div class="row">
    <div class="col-md-12">
        <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h3 class="mb-0">Ticket/New</h3>
                    </div>
                    <div class="col-4 text-right">
                        <span>Oluwalolope Hope</span>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form method="POST" action="#">

                    <h6 class="heading-small text-muted mb-4">Ticket Information</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-category">ID</label>
                                    <input name="ID" class="form-control form-control-alternative" value="" type="text" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-status">Category</label>
                                    <select name="category" class="form-control form-control-alternative">
                                        <option value="implementation" selected>Implementation</option>
                                        <option value="development">Development</option>
                                        <option value="training">Training</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-priority">Customer</label>
                                    <select name="customer" class="form-control form-control-alternative">
                                        <option value="low" selected>Afex</option>
                                        <option value="medium">AIICO</option>
                                        <option value="high">Union Capital</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <h6 class="heading-small text-muted mb-4">Ticket Status</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-status">Status</label>
                                    <select name="status" class="form-control form-control-alternative">
                                        <option value="open" selected>Open</option>
                                        <option value="closed">Closed</option>
                                        <option value="pending">Pending</option>
                                        <option value="suspended">Suspended</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-priority">Priority</label>
                                    <select name="priority" class="form-control form-control-alternative">
                                        <option value="low" selected>Low</option>
                                        <option value="medium">Medium</option>
                                        <option value="high">High</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-status">Opened By</label>
                                    <input name="openedBy" class="form-control form-control-alternative" value="" type="text" readonly>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-priority">AssignedTo</label>
                                    <select name="assignedTo" class="form-control form-control-alternative">
                                        <option value="low" selected>Charles Esumeh</option>
                                        <option value="medium">Talabi Opemipo</option>
                                        <option value="high">Benedicta Omoruyi</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="my-4" />
                    <h6 class="heading-small text-muted mb-4">Ticket Details</h6>
                    <div class="pl-lg-4">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-title">Title</label>
                                    <input name="title" class="form-control form-control-alternative" value="" type="text" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-title">Description</label>
                                    <textarea rows="20" name="description" class="form-control form-control-alternative" required>
Synopsis of the Issue/Task
======================




Steps To Reproduce
===================
1.
2.


Possible Remedies / Workarounds
============================




                                    </textarea>
                                </div>

                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" value="SUBMIT" />
                </form>
            </div>
        </div>
    </div>
</div>